@charset "UTF-8";

header {
	height: 100px;
	background-color: #FFCCFF;
}

.contents {
	min-height: 500px;
}

#sign-in-part {
	height: 500px;
}

#sign-up-part {
	height: 500px;
}

#post-list-part {
	height: 500px;
}

.btnCss {
	background-color: #FFCCFF;
}

footer {
	height: 100px;
	background-color: #FFCCFF;
}